@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #c52026;
}

body{
    background-color: #191919;
}

/*Remove browser scroll bar*/
body::-webkit-scrollbar{
    display: none;
}


/*Nav bar styling*/
.homeNavBar{
    position: sticky;
    top:0;
}

.homeNavBar ul{  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #191919;
    border-bottom: 1.5px solid grey;
    margin-left: 2%;
    margin-right: 2%;
   
}



.homeNavBar li a{
    display: block;
    color: #c52026;
    text-align: center;
    padding: 15px 16px 15px 16px;
    text-decoration: none;
}


.homeNavBar li a:hover{

    color: #f1f1f1;
}


#wallaceHome{
    margin-right: auto;
}

#wallaceHome a{
    padding:10px 0 0 8px;
}

#wallaceHome a:hover{
    background: transparent;
    animation: hvr-icon-pop .3s;
    filter: invert(1);
     
}

#arrow{
    padding-top: 20px;
    padding-left: 10px;
}

#arrow:hover{
    transform: scale(1.15);
    cursor: pointer;
    filter: invert(1);
}

#arrow:active{
    transform: rotate(10deg);
}


/*homePage header styling*/
header{
    text-align: center;
}

header h1{
    font-size:5em;
    float: left;
    padding: 30px;
}


/*Oragami gif*/
.unicorn{
    text-align: center;
    
}

/* Homepage flex images styling*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 270px;
    justify-content:center;
}

.flex-container p{
    font-size: 13px;
    text-align: center;
}

.flex-container div{
    background:transparent;
    width: 340px;
    height: 250px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    line-height: 34px;
    font-size: 30px;
    border: 1.5px solid grey;
    overflow: hidden;
}

.flex-container div:hover{
     border: 2px solid #c52026;
}

.flex-container div img{
    max-width: 100%;
    transition: all .4s ease-in-out;
}

.flex-container div:hover img{
    transform: scale(1.05);
    cursor: pointer;
}

/*Modal Styling*/
#fadeDelay1{
    background-color: #191919;
    text-align: center;
}


#fadeDelay2{
    background-color: #191919;
    text-align: center;
}

.modalHeader{
    color: #f1f1f1;
}

#fadeDelay3{
    background-color: #191919;
    text-align: center;
}

#fadeDelay1 img{
    box-shadow: 0px 0px 5px 1.5px rgba(0,0,0,1);
}

#fadeDelay2 img{
    box-shadow: 0px 0px 5px 1.5px rgba(0,0,0,1);
}

#fadeDelay3 img{
    box-shadow: 0px 0px 5px 1.5px rgba(0,0,0,1);
}


/*Footer styling*/
footer{
    background: transparent;
    color: #c52026;
    font-size: 10px;
    text-align: center;
    margin-top: 100px;
}

/*Side bar styling*/
.sideBar {
    height: 70%;
    width: 0;
    position: fixed;
    top: 15%;
    right: 0;
    background-color: #c52026;
    transition: .5s;
    padding-top: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

.sideBar a {
    padding: 8px 8px 8px 8px;
    font-size: 30px;
    color: #191919;
    display: block;
    transition: 0.3s;   
    text-align: center;
}

.sideBar a:hover {
    color: #f1f1f1;
}


#sideBarContainer{
    position: fixed;
    right:-95px;
    top: 20%;
    opacity: 0.5;
}

#sideBarContainer:hover{
    right:-80px;
    animation: fadein 0.6s;
    opacity: 1;
    cursor: pointer;
}


.sideBarIcon:active{
     position: relative;
     top: 3px;
}


.sideBarIcon:hover{
    transform: scale(1.2);
    padding: 0;
}

#closeButton:hover{
    cursor: pointer;
}

/*NewsPage content style*/
.newsPageImage{
    display: flex;
    flex-wrap: wrap;
    width:1200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    margin-top: 300px;
    font-size: 30px;
    border: 1.5px solid grey;
    justify-content: flex-start;
    overflow: hidden;
    transition-duration: .8s;
}

.newsPageImage:hover{
    border-color: #c52026;
    border-width: 2px;
    cursor: pointer;
    transform: scale(1.02);
    transition: all .4s ease-in-out;
}

.newsPageImage img{
    float: left;
    margin-right: 30px;
}


.newsPageImage strong{
    font-size: 1.3em;
    color: #f1f1f1;
    text-decoration: underline;
    font-weight:normal;
}


/*Animations*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes hvr-icon-pop {
  50% {
    transform: scale(1.1);
  }
}


